@charset "utf-8";
@import "_mixin";
@import "_variable";
@import "_animation";
@import url("https://fonts.googleapis.com/earlyaccess/hannari.css");
*{
  font-family: $nomal-font; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: #e0dddd;
  font-size: 1.6rem;
  letter-spacing: 1px;
  // outline: 0.1px solid rgb(216, 133, 133);H
}
html{
  font-size: 10px;
}
body{
  max-width: 100%;
  transition: 1s;
  }
h2{
  font-size: 4.0rem;
  font-weight: 200;
}
.sub-heading{
  font-size: 1.6rem;
}
.content-heading{
  font-size: 2.0rem;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.active{
  animation: appearance 2s infinite;
}

/*ヘッダーここから*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 55px;
  padding: 10px 50px;
  // &__left-item{

  // }
  &__logo{
    font-weight: 600;
  }
  &__right-item{
    .gnavi{
      display: flex;
      &_child{
        list-style: none;
        a{
          font-size: 1.4rem;
          color: #111111;
          padding: 10px;
            &:hover{
              border-bottom: 2px solid #222222;
            }
        }
      }
    }
  }
  &__sp-navi{
    display: none;
  }
  &__sp-icon{
    display: none;
  }
}

/*メインここから*/
.main {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  background: #111111;
  transition: .5s;
}
.main-visual{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  margin-bottom: 200px;
  overflow: hidden;
  &__text{
    position: absolute;
    z-index: 7;
    top: 35%;
    right: 70px;
    width: 20%;
    text-align: left;
    transform: translateY(-20%);
    font-size: 1.4rem;
  }
  &__slide{
    z-index: 5;
    position: absolute;
    top: 55px;
    width: 70%;
    height: 90%;
    overflow: hidden;
    text-align: left;
    .slide-inner{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: auto;
      height: 100%;
    }
    .slide-img {
      margin: 0;
      width: 100%;
      // width:
      //  700px;
      height: 100%;
      // display: none;
      // object-fit: cover;
      // transition: 4s;
      img{
        width: 100%;
        height: 100%;
      }
    }
 }
 &__box{
  z-index: 6;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 300px;
  animation: changeColor 30s infinite;
}
&__circle{
  position: absolute;
  z-index: 6;
  top: -175px;
  right: 0px;
  width: 370px;
  height: 370px;
  background-color: #e0dddd; 
  box-shadow: #5e95b9 2px 2px 10px;
  border-radius: 50%;
 }
}
.about{
  max-width: 90%;
  margin: auto;
  margin-bottom: 100px;
  &__heading-container{
    opacity: 0;
    margin: auto;
    margin-bottom: 25px;
    cursor: pointer;
    .heading{
      @include Glow(cyan);
      transition: .3s;
    }
    .sub-heading{
      transition: .3s;
    }
    &:hover{
      .heading{
        @include textGlow(cyan,10px);
        transition: .3s;
      }
      .sub-heading{
        transform: rotateX(360deg);
        transition: .3s;
      }
    }
  }
  &__wrapper{
    padding-top: 10px;
    height: 0;
    opacity: 0.5;
    transition: 0.8s;
    transform: scale(0,0);
    transform-origin:top;
    box-shadow: cyan 0px 0px 20px;
  }
  &__wrapper.open{
    height: 100%;
    opacity: 1;
    transition: 0.8s;
    transform: scale(1,1);
    transform-origin: top;
    border-radius: 5px;
    background-color: #e0dddd1c;
  }
  &__profile-inner{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-left: cyan 5px solid;
    margin-top: 50px;
    .content-heading{
      position: absolute;
      top: 140px;
      left: -20px;
      transform: rotate(90deg);
      display: inline-block;
    }
    .img-wrapper{
      width: calc(100% / 3);
      max-width: 300px;
      &__img-content{
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid #222222;
      }
    }
    .self-introduction{
      width: calc(100% / 1.7);
      padding: 30px;
      font-family: $sp-font;
      font-size: 1.8rem;
      @include textGlow(cyan,1px);
    }
  }
  &__skill-inner{
    position: relative;
    margin-top: 50px;
    width: 100%;
    .content-heading{
      position: absolute;
      top: 140px;
      left: -30px;
      transform: rotate(90deg);
      display: inline-block;
      width: 100px;
    }
    .pr-container{
      display: flex;
      justify-content: 
      space-around;
      align-items: center;
      margin-bottom: 50px;
      border-right: cyan 5px solid;
      width: 100%;
      &__box{
        width: calc(100% / 3);
        height: 300px;
        border: 1px solid #111111;
        margin-bottom: 50px;
        padding: 20px 30px;
        background-color: #363636;
        box-shadow: #302a2a9a 2px 5px 1px;
        .fas{
          font-size: 110px;
          margin-bottom: 20px;
          color: #e0dddd;
        }
        .heading{
          margin-bottom: 10px;
          font-size: 1.8rem;
          color: #e0dddd;
        }
        .text{
          color: #e0dddd;
          font-family: $sp-font
        }
      }
    }
    .img-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border-left: cyan 5px solid;
      padding-bottom: 50px;
      .img-content{
        width: calc(100% / 4);
        &__heading{
          font-weight: 600;
          font-size: 2.0rem;
          @include textGlow(cyan,2px)
        }
        .skill-img{
          width: 50%;
        }
      }
    }
  }
}
.works{
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
  &__heading-container{
    opacity: 0;
    margin-bottom: 25px;
    cursor: pointer;
    .heading{
      @include Glow(rgba(255, 255, 0, 0.863));
      transition: .3s;
    }
    .sub-heading{
      transition: .3s;
    }
    &:hover{
      .heading{
        @include textGlow(yellow,10px);
        transition: .3s;
      }
      .sub-heading{
        transform: rotateY(365deg);
        transition: .3s;
      }
    }
  }
  &__wrapper{
    background-position: top;
    padding-top: 10px;
    height: 0px;
    opacity: 0.1;
    transition: 0.8s;
    transform: scale(0,0);
    transform-origin: top;
    overflow: hidden;
    background-color: #fff7814f;
  }
  &__wrapper.open{
    height: 100%;
    opacity: 1;
    transition: 0.8s;
    transform: scale(1,1);
    transform-origin: top;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(255, 255, 0, 0.698);
  }
  &__tab{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-bottom: 25px;
    li{
      color: #222222;
      width: calc(100% / 4);
      cursor: pointer;
      transition: 1s;
      &:hover{
        transition: 1s;
        @include textGlow(yellow,5px)
      }
    }
    li.open{
      border-bottom: 1px solid #696969;
      @include textGlow(yellow,5px)
    }
  }
  &__tab-contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    visibility: hidden;
    height: 0px;
    transform: scale(0,0);
    transition: 1s;
    .tab-contents-box{
      width: 200px;
      overflow: hidden;
      cursor: pointer;
      &:hover img{
        transform: scale(1,1);
        transition: .5s;
        filter: contrast(200%);
      }
      img{
        width: 200px;
        transform: scale(0.9,0.9);
        transition: .5s;
      }
    }
  }
  &__tab-contents.show{
    visibility: initial;
    height: auto;
    transform: scale(1,1);
    transition: 1s;
    margin-bottom: 20px;
    padding: 30px;
  }

  &__modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 150;
    width: 100%;
    height: 100vh;
    padding: 30px;
    .modal-back{
      background-color: #1f1f1f;
      height: 100%;
      margin: auto;
      padding: 20px;
      }
    .modal-content{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      overflow: hidden;
      height: 100%;
      &__img-container{
        // position: absolute;
        // top: 50%;
        // left: 20px;
        // transform: translateY(-50%);
        height: 70%;
        width: 60%;
        max-width: 700px;
        overflow-y: auto;
        img{
          width: 100%;
          opacity: 0.9;
        }
      }
      &__date{
        // position: absolute;
        // top: 50%;
        // right: 20px;
        // transform: translateY(-50%);
        width: 35%;
        min-width: 300px;
        padding: 20px;
        border: 1px solid #e0dddd;
        box-shadow: #757575 2px 2px 10px;
        th{
          color: #dae4ffd8;
          text-align: center;
          font-size: 2.0rem;
          text-shadow:  #757575 2px 3px 10px;
          border-bottom: #757575 1px solid;
        }
        td{
          height: 30px;
          padding-bottom: 30px;
          color: #fafcffd8;
          font-size: 1.8rem;
          text-align: left;
          text-align: center;
          font-family: $sp-font;
          a{
            text-decoration: underline;
            &:hover{
              @include textGlow(cyan,0px)
            }
          }
        }
      }
      &__close{
        position: absolute;
        z-index: 100;
        top: 10px;
        right: 10px; 
        width: 50px;
        height: 50px;
        cursor: pointer;
        &:hover .border{
          transition: .5s;
          background-color: #99b7df;
          box-shadow: #f0f0f0 5px 10px 20px;
        }
        .close-icon{
          position: relative;
          width: 100%;
          height: 100%;
        }
        .border{
          position: absolute;
          top: 50%;
          left: 0;
          display: inline-block;
          background-color: #e3e9ee;
          height: 2px;
          width: 50px;
          transform: rotate(45deg) translateY(50%);
          transition: .5s;
          &:nth-child(2){
          transform: rotate(-45deg) translateY(50%);
          }
        }
      }
    }
  }
}
.contact{
  max-width: 90%;
  margin: auto;
  margin-bottom: 50px;
  &__heading-container{
    // opacity: 0;
    margin: auto;
    margin-bottom: 25px;
    cursor: pointer;
    .heading{
      @include Glow(#5e95b9);
      transition: .3s;
    }
    .sub-heading{
      transition: .3s;
    }
    &:hover{
      .heading{
        @include textGlow(cyan,10px);
        transition: .3s;
      }
      .sub-heading{
        transform: rotateX(360deg);
        transition: .3s;
      }
    }
  }
  &__wrapper{
    background-position: top;
    padding-top: 10px;
    height: 0px;
    opacity: 0.1;
    transition: 0.8s;
    transform: scale(0,0);
    transform-origin: top;
    overflow: hidden;
  }
  &__wrapper.open{
    height: 100%;
    opacity: 1;
    transition: 0.8s;
    transform: scale(1,1);
    transform-origin: top;
    overflow: hidden;
  }
  &__form{
    width: 100%;
    box-shadow: #5e95b9 2px 3px 12px , #5e95b9 -2px -2px 12px;
    padding: 40px;
    .text_wrap{
      width: 80%;
      min-width: 300px;
      margin: auto;
      margin-bottom: 30px;
      text-align: left;
      label{
        @include textGlow(#5e95b9,1px);
      }
      input,textarea{
        text-align: left;
        width: 100%;
        padding: 10px;
        color: #1f1f1f;
      }
      textarea{
        height: 150px;
      }
      input::placeholder{
        text-align: left;
      }
    }
    .submit{
      background-color: #5e95b9;
      width: 280px;
      padding: 10px 0 ;
    }
  }
  /* 入力項目を見やすくする */
input.wpcf7-form-control.wpcf7-text,
textarea.wpcf7-form-control.wpcf7-textarea {
	width: 100%;
	padding: 8px 15px;
	margin-right: 10px;
	margin-top: 10px;
	border: 1px solid #d0d5d8;
	border-radius: 3px;
}
textarea.wpcf7-form-control.wpcf7-textarea {
	height: 200px;
}

/* 必須項目の入力欄を黄色にする */
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
	background: rgba(255, 255, 142, 0.46);
}

/* 送信ボタンを見やすくする */
input.wpcf7-submit {
	width: 100%;
	height: 80px;
	background: #27c038;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}

/* エラーメッセージを見やすくする */
span.wpcf7-not-valid-tip,
.wpcf7-response-output.wpcf7-validation-errors {
	color: red;
	font-weight: 600;
}
}

/*フッターここから*/
.footer{
  padding: 30px 0;
  background-color: #111111;
  p{
    color: #e0dddd;
  }
}

// /*650px以下*/
@media screen and (max-width: 650px) {
  html{
    font-size: 9px;
  }
  // *{
  //   font-size: 1.5rem;
  // }

  .header{
    justify-content: center;
    &__right-item{
      display: none;
    }
    &__sp-icon{
      display: block;
      position: fixed;
      z-index: 100;
      top: 15px;
      right: 15px;
      width: 45px;
      height: 45px;
      cursor: pointer;
      .border-wrap{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: transparent;
        .borders{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #cecece;
          transition: .5s;
          &::before{
            position: absolute;
            top: 22px;
            left: 0px;
            content: '';
            width: 100%;
            height: 2px;
            background-color: #cecece;
            transition: .5s;
          }
          &::after{
            position: absolute;
            top: 44px;
            left: 0px;
            content: '';
            width: 100%;
            height: 2px;
            background-color: #cecece;
            transition: .5s;
          }
        }
      }
    }
    &__sp-icon.open{
      .borders{
        border: #ffffff solid 1px;
        height: 45px;
        transition: .3s;
        &::before{
          top: 22px;
          transform: rotate(45deg);
          background-color: #ffffff;
          transition: .6s;
        }
        &::after{
          top: 22px;
          transform: rotate(-45deg);
          background-color: #ffffff;
          transition: .6s;
        }
      }
    }
    &__sp-navi{
      display: block;
      position: fixed;
      z-index: 90;
      top: 0;
      left: 0;
      background-color: #000000e1;
      width: 100vw;
      height: 100vh;
      transition: 1s;
      transform: translateX(1000px);
      .sub-navi{
      &__navi{
        margin-top: 20%;
      }
      &__child{
        margin-bottom: 20px;
        a{
          font-size: 2.5rem;
          &:hover{
            @include textGlow(cyan,1px);
          }
        }
      }
     }
    }
    &__sp-navi.show{
      transition: 1s;
      transform: translateX(0px);
    }
  }

  .main-visual{
    &__text{
      right: 0;
      background-color: #111111;
      width: 50%;
      padding: 30px;
    }
    &__slide{
      width: 90%;
    }
    &__circle{
      top: -100px;
      right: -100px;
      width: 150px;
      height: 150px;
    }
  }
  .about{
    &__profile-inner{
      display: flex;
      flex-direction: column;
      .content-heading{
        position: static;
        transform: rotate(0deg);
        margin-bottom: 20px;
      }
      .img-wrapper{
        width: 100%;
        &__img-content{
        width: 100%;
          object-fit: cover;
        }
      }
      .self-introduction{
        width: 95%;
        padding: 15px;
      }
    }
    &__skill-inner{
      .content-heading{
        position: static;
        transform: rotate(0deg); 
        margin-bottom: 20px;
      }
      .pr-container{
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        &__box{
          width: 95%;
          height: 280px;
        }
      }
      .img-container{
        .img-content{
          width: calc( 100% / 2);
        }
      }
    }
  }
  .works{
    &__tab{
      width:90%;
    }
    &__modal{
      .modal-content{
        justify-content: center;
        padding-top: 10px;
        border: none;
        &__img-container{
          top: 10px;
          width: 100%;
          height: 40%;
        }
        &__date{
          padding-bottom: 10px;
          width: 80%;
          height: 30%;
        }
        &__close{
          top: 0px;
          left: 0px;
        }
      }
    }
  }
}


